.App {
  text-align: center;
}

.orderList {
  font-size: 28px;
  font-weight: 400;
  color: antiquewhite;
}

.button {
  background-color: rgb(3, 32, 59);
  color: rgb(225, 221, 228);
  font-size: 24px;
  border-radius: 20px;
}

.purebtn {
  background-color: rgb(3, 32, 59);
  color: rgb(225, 221, 228);
  font-size: 24px;
  border-radius: 20px;
}

.pureol {
  font-size: 24px;
  font-weight: 400;
  color: rgb(4, 48, 85);
}